@model NominaWeb.Models.Salary

@{
    ViewData["Title"] = "Create Salary";
}

<h1>Create Salary</h1>

<hr />
<div class="row">
    <div class="col-md-6">

        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="EmpNo" class="form-label"></label>
                <select asp-for="EmpNo" class="form-control" asp-items="ViewBag.EmpNo"></select>
                <span asp-validation-for="EmpNo" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Salary1" class="form-label"></label>
                <input asp-for="Salary1" class="form-control" />
                <span asp-validation-for="Salary1" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="FromDate" class="form-label">From Date</label>
                <input asp-for="FromDate" class="form-control" placeholder="YYYY-MM-DD" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ToDate" class="form-label">To Date</label>
                <input asp-for="ToDate" class="form-control" placeholder="YYYY-MM-DD" />
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>

    </div>
</div>