USE [master]
GO
/****** Object:  Database [nomina_db]    Script Date: 03/03/2026 18:16:24 ******/
CREATE DATABASE [nomina_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nomina_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\nomina_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'nomina_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\nomina_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nomina_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nomina_db]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 03/03/2026 18:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[dept_no] [int] NOT NULL,
	[dept_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dept_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dept_emp]    Script Date: 03/03/2026 18:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dept_emp](
	[emp_no] [int] NOT NULL,
	[dept_no] [int] NOT NULL,
	[from_date] [varchar](50) NOT NULL,
	[to_date] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_no] ASC,
	[dept_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dept_manager]    Script Date: 03/03/2026 18:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dept_manager](
	[emp_no] [int] NOT NULL,
	[dept_no] [int] NOT NULL,
	[from_date] [varchar](50) NOT NULL,
	[to_date] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_no] ASC,
	[dept_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 03/03/2026 18:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[emp_no] [int] NOT NULL,
	[ci] [varchar](50) NOT NULL,
	[birth_date] [varchar](50) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[gender] [char](1) NOT NULL,
	[hire_date] [varchar](50) NOT NULL,
	[correo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_AuditoriaSalarios]    Script Date: 03/03/2026 18:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_AuditoriaSalarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[fechaActualiz] [date] NOT NULL,
	[DetalleCambio] [varchar](250) NOT NULL,
	[salario] [bigint] NOT NULL,
	[emp_no] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salaries]    Script Date: 03/03/2026 18:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salaries](
	[emp_no] [int] NOT NULL,
	[salary] [bigint] NOT NULL,
	[from_date] [varchar](50) NOT NULL,
	[to_date] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_no] ASC,
	[from_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[titles]    Script Date: 03/03/2026 18:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[titles](
	[emp_no] [int] NOT NULL,
	[title] [varchar](50) NOT NULL,
	[from_date] [varchar](50) NOT NULL,
	[to_date] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_no] ASC,
	[title] ASC,
	[from_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 03/03/2026 18:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[emp_no] [int] NOT NULL,
	[usuario] [varchar](100) NOT NULL,
	[clave] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[departments] ([dept_no], [dept_name]) VALUES (10, N'Recursos Humanos')
INSERT [dbo].[departments] ([dept_no], [dept_name]) VALUES (20, N'Tecnologia')
GO
INSERT [dbo].[dept_emp] ([emp_no], [dept_no], [from_date], [to_date]) VALUES (1, 10, N'2023-01-15', N'9999-01-01')
INSERT [dbo].[dept_emp] ([emp_no], [dept_no], [from_date], [to_date]) VALUES (2, 10, N'2022-03-10', N'9999-01-01')
INSERT [dbo].[dept_emp] ([emp_no], [dept_no], [from_date], [to_date]) VALUES (3, 20, N'2021-07-01', N'9999-01-01')
GO
INSERT [dbo].[dept_manager] ([emp_no], [dept_no], [from_date], [to_date]) VALUES (1, 10, N'2023-01-15', N'9999-01-01')
INSERT [dbo].[dept_manager] ([emp_no], [dept_no], [from_date], [to_date]) VALUES (3, 20, N'2021-07-01', N'9999-01-01')
GO
INSERT [dbo].[employees] ([emp_no], [ci], [birth_date], [first_name], [last_name], [gender], [hire_date], [correo]) VALUES (1, N'1723456789', N'1998-05-10', N'Alejandro', N'Coral', N'M', N'2023-01-15', N'alejandro@empresa.com')
INSERT [dbo].[employees] ([emp_no], [ci], [birth_date], [first_name], [last_name], [gender], [hire_date], [correo]) VALUES (2, N'1723456790', N'1995-08-21', N'Maria', N'Lopez', N'F', N'2022-03-10', N'maria@empresa.com')
INSERT [dbo].[employees] ([emp_no], [ci], [birth_date], [first_name], [last_name], [gender], [hire_date], [correo]) VALUES (3, N'1723456791', N'1992-11-30', N'Carlos', N'Perez', N'M', N'2021-07-01', N'carlos@empresa.com')
GO
INSERT [dbo].[salaries] ([emp_no], [salary], [from_date], [to_date]) VALUES (1, 1200, N'2023-01-15', NULL)
INSERT [dbo].[salaries] ([emp_no], [salary], [from_date], [to_date]) VALUES (2, 1000, N'2022-03-10', NULL)
INSERT [dbo].[salaries] ([emp_no], [salary], [from_date], [to_date]) VALUES (3, 1500, N'2021-07-01', NULL)
GO
INSERT [dbo].[titles] ([emp_no], [title], [from_date], [to_date]) VALUES (1, N'Jefe RRHH', N'2023-01-15', NULL)
INSERT [dbo].[titles] ([emp_no], [title], [from_date], [to_date]) VALUES (2, N'Asistente RRHH', N'2022-03-10', NULL)
INSERT [dbo].[titles] ([emp_no], [title], [from_date], [to_date]) VALUES (3, N'Desarrollador', N'2021-07-01', NULL)
GO
ALTER TABLE [dbo].[dept_emp]  WITH CHECK ADD FOREIGN KEY([dept_no])
REFERENCES [dbo].[departments] ([dept_no])
GO
ALTER TABLE [dbo].[dept_emp]  WITH CHECK ADD FOREIGN KEY([emp_no])
REFERENCES [dbo].[employees] ([emp_no])
GO
ALTER TABLE [dbo].[dept_manager]  WITH CHECK ADD FOREIGN KEY([dept_no])
REFERENCES [dbo].[departments] ([dept_no])
GO
ALTER TABLE [dbo].[dept_manager]  WITH CHECK ADD FOREIGN KEY([emp_no])
REFERENCES [dbo].[employees] ([emp_no])
GO
ALTER TABLE [dbo].[Log_AuditoriaSalarios]  WITH CHECK ADD FOREIGN KEY([emp_no])
REFERENCES [dbo].[employees] ([emp_no])
GO
ALTER TABLE [dbo].[salaries]  WITH CHECK ADD FOREIGN KEY([emp_no])
REFERENCES [dbo].[employees] ([emp_no])
GO
ALTER TABLE [dbo].[titles]  WITH CHECK ADD FOREIGN KEY([emp_no])
REFERENCES [dbo].[employees] ([emp_no])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([emp_no])
REFERENCES [dbo].[employees] ([emp_no])
GO
USE [master]
GO
